<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jeffrey Sanford Russell - Philosophy</title>
        <meta name="description" content="">
        <!--
        Volton Template
        http://www.templatemo.com/preview/templatemo_441_volton
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="responsive-header visible-xs visible-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-section">
                            <div class="profile-image">
                                <img src="img/profile.jpg" alt="Profile picture">
                            </div>
                            <div class="profile-content">
                                <h3 class="profile-title">{{{name}}}</h3>
                                <p class="profile-description">{{{field}}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                <div class="main-navigation responsive-menu">
                    <ul class="navigation">
                        <li><a href="#top"><i class="fa fa-child" style="width:20px;"></i>About Me</a></li>
                    <li><a href="#teaching"><i class="fa fa-lightbulb-o" style="width:20px;"></i>Teaching</a></li>
                    <li><a href="#placement"><i class="fa fa-rocket" style="width:20px;"></i>Placement</a></li>
                    <li><a href="#contact"><i class="fa fa-location-arrow" style="width:20  px;"></i>Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- SIDEBAR -->
        <div class="sidebar-menu hidden-xs hidden-sm">
            <div class="top-section">
                <div class="profile-image">
                    <img src="img/profile.jpg" alt="Profile picture">
                </div>
                <h3 class="profile-title">{{{name}}}</h3>
                <p class="profile-description">{{{field}}}</p>
            </div> <!-- top-section -->
            <div class="main-navigation">
                <ul class="navigation">
                    <li><a href="#top"><i class="fa fa-child" style="width:20px;"></i>About Me</a></li>
                    <li><a href="#teaching"><i class="fa fa-lightbulb-o" style="width:20px;"></i>Teaching</a></li>
                    <li><a href="#placement"><i class="fa fa-rocket" style="width:20px;"></i>Placement</a></li>
                    <li><a href="#contact"><i class="fa fa-location-arrow" style="width:20  px;"></i>Contact</a></li>
                </ul>
            </div> <!-- .main-navigation -->

        </div> <!-- .sidebar-menu -->

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="fluid-container">

                <div class="content-wrapper">
                    <div class="page-section" id="welcome-text">
                    <div class="divider" >
                        <img src="img/jeff-logic-berlin.jpg">
                    </div>
                    <h4 class="widget-title">About Me</h4>
                    {{{blurb}}}                        
                    </div>

                    <!-- TEACHING -->
                    <div class="page-section" id="teaching">
                    <div class="divider">
                    <img src="img/mudd-arches.jpg" alt="Photo by Ken Lund [CC BY-SA 2.0] https://www.flickr.com/photos/kenlund/21399701568">
                    </div>

                    <h4 class="widget-title">Teaching</h4>

                    {{{teaching}}}

                    </div>

                    <!-- PLACEMENT -->

                    <div class="page-section" id="placement">

                    <div class="divider">
                        <img src="img/palm-trees.jpg" alt="'Stars & Stripes Celebration, POLA' by Joey Z1 is licensed under CC BY 2.0. https://www.flickr.com/photos/45958601@N02/34930860564">
                    </div>

                    <h4 class="widget-title">Placement</h4>

                    {{{placement}}}

                    </div>

                    <!-- CONTACT -->
                    <div class="page-section" id="contact">

                    <div class="divider">
                        <img src="img/losangeles.jpg" alt="By Tuxyso (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons">
                    </div>

                    <h4 class="widget-title">Contact Me</h4>

                    {{{contact}}}

                    </div>

                    <hr>

                </div>

            </div>
        </div>

        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src="js/min/plugins.min.js"></script>
        <script src="js/min/main.min.js"></script>

    </body>
</html>
